.card-header {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.card.no-padding {
    padding: 0;
}

.card-action.content {
    text-align: center;
}

.price {
    font-size: 18px;
    font-weight: bold;
}
.btn.round-btn {
    border-radius: 25px;
    height: 43px;
    line-height: 43px;
    font-size: 15px;
    padding: 0px 26px;
}
